@import "tailwindcss";

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}


.red-hat-mono {
    font-family: "Red Hat Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.red-hat-text {
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}